<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/head :: head('Crear Nuevo Genero')}"></head>
<body class="doodle">
<!-- Contenedor principal centrado -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Crear Nuevo Género</h1>
        <form action="#" th:action="@{/genero/guardar}" th:object="${genero}" method="post" class="doodle-border">
            <p>
                <label for="generoDescripcion">Descripción del Género: </label>
                <input id="generoDescripcion" type="text" th:field="*{generoDescripcion}" placeholder="Ingrese la descripción del género" required>
            </p>
            <p>
                <input type="submit" name="submit" value="Guardar">
                <input type="reset" name="reset" value="Reiniciar formulario">
            </p>
        </form>
        <button><a th:href="@{/genero}" class="btn">Cancelar</a></button>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
