<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/head :: head('Lista de Generos')}"></head>
<body class="doodle">
<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Contenedor principal centrado -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Listado de Géneros</h1>
        <table>
            <thead >
            <tr >
                <th>ID</th>
                <th style="width: 200%;">Descripción</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="genero : ${generos}">
                <td th:text="${genero.generoId}"></td>
                <td th:text="${genero.generoDescripcion}"></td>
                <td><a th:href="@{/genero/editar/{id}(id=${genero.generoId})}">Editar</a></td>
            </tr>
            </tbody>
        </table>
        <div class="mb-3">
            <a th:href="@{/genero/crear}">Crear Nuevo Género</a>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
