<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragments/head :: head('Crear Nueva Venta')}"></head>
<body class="doodle">
<!-- Contenedor principal centrado -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Crear Nueva Venta</h1>
        <form th:action="@{/venta/guardar}" th:object="${ventaMiembro}" method="post" class="doodle-border">
            <p>
                <label for="miembro">Miembro: </label>
                <select id="miembro" th:field="*{miembro.miembroId}" required>
                    <option value="" disabled selected>Seleccione el miembro</option>
                    <option th:each="miembro : ${miembros}" th:value="${miembro.miembroId}" th:text="${miembro.miembroNombre} + ' ' + ${miembro.miembroApellidos}"></option>
                </select>
            </p>
            <p>
                <label for="disco">Disco: </label>
                <select id="disco" th:field="*{disco.discoId}" required>
                    <option value="" disabled selected>Seleccione el disco</option>
                    <option th:each="disco : ${discos}" th:value="${disco.discoId}" th:text="${disco.discoTitulo}"></option>
                </select>
            </p>
            <p>
                <label for="ventaMiembroCantidad">Cantidad: </label>
                <input id="ventaMiembroCantidad" type="number" th:field="*{ventaMiembroCantidad}" placeholder="Ingrese la cantidad" min="1" required>
            </p>
            <p>
                <label for="sucursal">Sucursal: </label>
                <select id="sucursal" th:field="*{sucursal.sucursalId}" required>
                    <option value="" disabled selected>Seleccione la sucursal</option>
                    <option th:each="sucursal : ${sucursales}" th:value="${sucursal.sucursalId}" th:text="${sucursal.sucursalDescripcion}"></option>
                </select>
            </p>
            <p>
                <input type="submit" name="submit" value="Guardar">
                <input type="reset" name="reset" value="Reiniciar formulario">
            </p>
        </form>
        <button><a th:href="@{/venta}" class="btn">Cancelar</a></button>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
